<ion-content>
  <div class="container">
    <!-- <ion-fab vertical="top" horizontal="start">
      <ion-fab-button id="out-loading" size="large">
        <img src="/assets/background/salir.png">
      </ion-fab-button>
    </ion-fab> -->
    <div class="cosas-lindas-btn">
      <img class="imagen-boton" src="/assets/images/edificio_bien.png" [routerLink]="['/cosas-lindas']">
      <h3><strong>Cosas Lindas</strong></h3>
    </div>
      <div class="cosas-feas-btn">
        <img class="imagen-boton" src="/assets/images/edificio_mal.png">
        <h3><strong>Cosas Feas</strong></h3>
      </div>
  </div>
</ion-content>