<ion-content [fullscreen]="true" name="main">

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <!-- Establece el tamaño del botón -->
    <ion-fab-button (click)="logout()" color="danger" size="large">
      <!-- Agrega aquí el icono o texto para cerrar sesión -->
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div *ngIf="this.mostrarGrafico">
    <h1 style="font-family: Mooli;margin: 15px;"><strong>Grafico de barras</strong></h1>    <!-- Gráfico de Torta -->
    <canvas #barChart width="400" height="600"></canvas>
  </div>

  <div *ngIf="!this.mostrarGrafico">
    <ion-card *ngFor="let cosa of cosasFeas">
      <img [src]="cosa.foto" alt="Imagen">
      <ion-card-header>
        <ion-card-title>{{ cosa.email }}</ion-card-title>
        <ion-card-subtitle>{{ cosa.fecha }}</ion-card-subtitle>
        <ion-button color="danger" shape="round" (click)="darMeGusta($event,cosa)">Me desagrada <ion-icon name="flame-outline"></ion-icon>({{ cosa.likes }})</ion-button>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>

    <br>
    <hr>

    <ion-footer class="sticky-footer">
      <ion-toolbar>
        <ion-row>
          <ion-col size="3">
            <ion-button fill="clear" (click)="agregarFoto(); this.mostrarGrafico = false">
              <ion-img src="/assets/images/camera.png"></ion-img>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button fill="clear" (click)="obtenerCosasFeas(); this.mostrarGrafico = false">
              <ion-img src="/assets/images/gallery.png"></ion-img>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button fill="clear" (click)="mostrarMisFotos(); this.mostrarGrafico = false">
              <ion-img src="/assets/images/user.png"></ion-img>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button fill="clear" (click)="mostrarGraficos(); this.mostrarGrafico = true">
              <ion-img src="/assets/images/stats.png"></ion-img>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-footer>
    <div *ngIf="showSpinner" class="custom-spinner">
      <img src="/assets/images/spinner.png"/>
    </div>
  </ion-content>
